<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
<div id="right-footer">
  <div id="social-media-footer">
      <ul>
          <li>
              <a href="#" class="icon icon-github"></a>
          </li>
      </ul>
  </div>
</div>
</footer>