<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div id="left-footer">
  <h3>Quick Link</h3>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
        <li>
            <a href="#">Blogs</a>
        </li>
        <li>
            <a href="#">Projects</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
<div id="right-footer">
  <h3>Follow us on</h3>
  <div id="social-media-footer">
      <ul>
          <li>
              <a href="#">
                  <i class="icon icon-facebook"></i>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="icon icon-youtube"></i>
              </a>
          </li>
          <li>
              <a href="#" class="icon icon-github"></a>
          </li>
      </ul>
  </div>
  <p>This website is developd by GTCoding</p>
</div>
</footer>