.icon
  font-family: font-icon
  text-align: center
  cursor: pointer

.extend
  font-family: font-icon

.icon-search
  &:before
    content: "\f002"

.icon-github
  &:before
    content: "\f09b"

.icon-bars
  &:before
    content: "\f0c9"
.prev
  &:before
    content: "\f104"
    padding-right: 10px
.next
  &:after
    content: "\f105"
    padding-left: 10px 
.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }
.icon-chevron-up:before {
  content: "\f077"  
}
.icon-chevron-down:before {
  content: "\f078"  
}