#favorite 
  margin-top: 20px
  #toc 
    transition: 0.4s
    width: 150px
    .toc 
      margin-left: 0
      padding-top: 5px
    .toc-item
      position relative
      color: color-toc
      padding: 10px 10px 10px 20px
      border-radius: 50%
      transform: rotate(3deg)
      .toc-link
        span 
          width: 100%
      &:after
        content: ''
        position absolute
        display: block
        left: 3px
        top: 15px
        bottom: 0
        width: 10px
        height: 10px
        border-radius: 50%
        background-color: #eee
        box-shadow: 1px 1px 2px -1px #333333
  #content
    width: 80%
    float: right 
    padding-bottom: 150px
    @media mq-ltablet 
      float: none
      width: auto
  .outer-box 
    margin-top: 80px
    &:first-of-type 
      margin-top: 50px
    &:hover 
      h1
        color color-link
        padding: 6px 30px
        border-left: 2px solid color-link
      
  h1 
    padding: 6px 20px
    border-left: 2px solid color-grey
    color color-grey
    font-weight: bold
    display inline-block
    border-top-left-radius: 50%
    border-bottom-left-radius: 50%
    transition: .4s
    margin-bottom: 10px
.inner-box
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  li 
    position relative
    margin:20px 15px 20px 0
    background: #ffffff
    transition: 0.4s
    box-shadow: 0 10px 6px -10px #777;
    transition: .3s
    margin-bottom: 10px;
    @media mq-mobile
      margin-right: 0
    &:hover 
      box-shadow: 0 10px 6px -10px #777, 0 0 8px -3px color-link;
    img 
      width: 16px
      height 16px
    a  
      width: 270px
      height 100%
      color: #000000
      display: inline-block
      padding: 10px
      box-sizing: border-box
      &:hover 
        text-decoration: none
      span 
        color: #333
      p
        color: #52443f
        border-top: 1px solid #bbbbbb
        padding-top: 5px
        margin-top: 10px 
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 4
        overflow hidden


