<div id="toc" class="toc-article">
    <span id="toc-icon" class="icon icon-chevron-right"></span>
    <div id="toc-box">
        <div class="toc-title"><%= post.title %></div>
        <%- toc(post.content, {list_number: false}) %>
    </div>
</div>  